* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    background: url('/backgrounds/bananas.png') repeat fixed;
}

.welcome {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.app-title {
    font-family: 'Luckiest Guy', cursive;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 120px;
    color: rgb(255, 220, 104);
    text-shadow: 8px 8px 0 #313131;
    border-style: solid;
    border-width: 30px;
    border-color: rgb(223, 80, 80);
    background-color: rgb(223, 80, 80);
    border-radius: 50%;
    margin: 30px;
}

.app-title-small {
    font-family: 'Luckiest Guy', cursive;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    letter-spacing: 1px;
    font-size: 40px;
    color: rgb(255, 220, 104);
    text-shadow: 4px 4px 0 #313131;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(223, 80, 80);
    background-color: rgb(223, 80, 80);
    border-radius: 50%;
    margin: 15px 0 15px 15px;
}

.username-input {
    font-family: 'Roboto', sans-serif;
    color: rgb(235, 179, 69);
    width: 500px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    border-radius: 50px;
    border: 2px rgb(233, 193, 113) solid;
    font-size: 20px;
}

.username-input::placeholder {
    color: rgb(235, 208, 155);
}

.enter-chat-button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    width: 180px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    border: 2px rgb(233, 193, 113) solid;
    font-size: 20px;
}

.enter-chat-button:enabled {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(75, 73, 73);
    font-size: 23px;
    background-color: rgb(255, 220, 104);
    box-shadow: 3px 3px 10px rgb(161, 158, 114);
    width: 185px;
    height: 65px;
    cursor: pointer;
}

.enter-chat-button:disabled {
    color: #a7a6aad0;
    background-color: rgba(243, 220, 142, 0.904);
}

[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type='radio'] + img {
    width: 125px;
    filter: sepia(60%);
    cursor: pointer;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(161, 158, 114);
    border: 2px rgb(233, 193, 113) solid;
}

[type='radio']:checked + img {
    filter: none;
    border: 3px rgb(223, 80, 80) solid;
}

[type='radio']:hover + img {
    box-shadow: red;
    border-width: 3px;
    filter: none;
}

.lobby {
    display: flex;
    max-width: 1600px;
    margin: auto;
    background-color: rgb(191, 232, 227);
    box-shadow: 5px 5px 10px rgb(161, 158, 114);
}

.chat-area {
    width: 70%;
    margin: 15px;
    padding-bottom: 10px;
    min-height: 700px;
    border: rgb(179, 219, 215) solid 1px;
}

.message-list {
    background-color: white;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: rgb(144, 195, 190) rgba(144, 195, 190, 0.13);
}

.message-list li {
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.message-list::-webkit-scrollbar {
    width: 12px;
}

.message-list::-webkit-scrollbar-track {
    background: rgba(144, 195, 190, 0.13);
}

.message-list::-webkit-scrollbar-thumb {
    background-color: rgb(144, 195, 190);
    border-radius: 20px;
}

.member-message .text,
.my-message .text {
    color: rgb(77, 77, 78);
    min-height: 45px;
    border-radius: 30px;
    padding: 15px;
}

.member-message .text {
    background-color: rgb(207, 231, 228);
}

.member-message img {
    border: 2px rgb(207, 231, 228) solid;
    margin: 0 6px;
}

.my-message {
    display: flex;
    justify-content: flex-end;
}

.my-message .username {
    display: none;
}

.my-message img {
    order: 10;
    border: 2px rgb(231, 212, 212) solid;
    margin: 0 6px;
}

.my-message .text {
    background-color: rgb(231, 212, 212);
}

.message-list img {
    width: 55px;
    border-radius: 50%;
    display: inline-block;
}

.message-input {
    display: flex;
    align-items: center;
    margin: 10px;
}

.message-input input {
    margin: 5px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}

.status-dashboard {
    display: flex;
    align-items: center;
    margin: 10px;
}

.status-dashboard input {
    margin: 5px;
    height: 40px;
    padding: 10px;
    border-bottom: 2px rgb(16, 70, 64) solid;
    flex: 1;
    font-style: italic;
}

.status-dashboard input::placeholder {
    font-style: italic;
}

.message-input button,
.status-dashboard button {
    margin: 5px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: 1px rgb(240, 216, 169) solid;
}

.message-input button:enabled,
.status-dashboard button:enabled {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(75, 73, 73);
    background-color: rgb(255, 220, 104);
    box-shadow: 3px 3px 10px rgb(161, 158, 114);
}

.message-input button:disabled,
.status-dashboard button:disabled {
    color: #a7a6aad0;
    background-color: rgba(243, 220, 142, 0.904);
}

.color-options {
    display: flex;
    margin: 5px 5px 5px 5px;
    align-items: center;
}

.color-picker-button-false {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.color-picker-button-true {
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid rgba(211, 211, 211, 0.596);
}

.color-picker-button-false:hover {
    box-shadow: 2px 2px 6px rgb(161, 158, 114);
}

.side-info {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    background-color: rgb(81, 116, 112);
    border-left: 2px rgb(179, 219, 215) solid;
}

.online-members {
    margin: 10px;
    height: 675px;
    overflow-y: scroll;
    padding: 10px;
    scrollbar-width: auto;
    scrollbar-color: rgb(61, 97, 93) rgba(144, 195, 190, 0.13);
}

.online-members ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.online-members li {
    display: flex;
    align-items: center;
}

.online-members img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px 5px 0;
    border: 1px rgb(124, 124, 124) solid;
    box-shadow: 2px 2px 6px rgb(161, 158, 114);
}

.online-members::-webkit-scrollbar {
    width: 12px;
}

.online-members::-webkit-scrollbar-track {
    background: rgba(144, 195, 190, 0.13);
}

.online-members::-webkit-scrollbar-thumb {
    background-color: rgb(61, 97, 93);
    border-radius: 20px;
}

.username {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: rgb(60, 149, 139);
}

.status {
    padding: 5px;
    font-style: italic;
    font-style: italic;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

span:first-child {
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 7px;
    padding-bottom: 7px;
    letter-spacing: 1px;
    color: rgb(255, 220, 104);
    text-shadow: 2px 2px 0 #313131;
}

span:nth-child(2) {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0 #313131;
}

.color-picker-button {
    font-weight: 800;
    font-size: 16px;
    margin-right: 10px;
}

.color-div {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 3px;
}
